<h1>Bienvenue sur votre espace évènement !</h1>

<% @participations.each_with_index do |participation, i| %>
  <p>Participant n°<%= i + 1 %></p>
  <p>Prénom : <%= participation.user.first_name %></p>
  <p>Nom : <%= participation.user.last_name %></p>
  <p>Email : <%= participation.user.email %></p>
<%end%>

<%= link_to "Editer mon évènement", edit_event_path(@id_edit_event_path), :class =>"btn btn-outline-warning"  %> <br/>

