<div class="container d-flex justify-content-center align-items-center" style="min-height:85vh">
  <div class="w-50 my-5 p-5 bg-secondary text-white rounded text-center">
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <strong>Ah !</strong> Tu t'es déjà inscris à l'évènement !
      </div>
    <% end %>
    <h3>Picture actuel</h3>
    <%if @event.picture.attached?%>
      <%= image_tag @event.picture, size: "450x500", alt: 'picture' %>
    <%else%>
      <p>=== Il n'y a pas encore d'picture lié à cet event ===</p>
    <%end%>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= @event.title %></h5>
        <p class="card-text">Description : <%=@event.description%></p>
        <p class="card-text">Prix : <%=@event.price%> €</p>
        <p class="card-text">Location : <%=@event.location%></p>
        <p class="card-text"><%=@event.participations.count%> participant(s)</p>
        <p class="card-text">Début de l'évènement : <%=@event.start_date.strftime('%d/%m/%Y %H:%M')%></p>
        <p class="card-text">Fin de l'évènement : <%=@end_date.strftime('%d/%m/%Y %H:%M')%></p>
      </div>
      <div class="card-footer">
        <p>Pour joindre le créateur de l'évènement, contactez  <%=@event.user.first_name%> <%=@event.user.last_name%> via <%=@event.user.email%></p>
        <% if current_user %>
          <% if @admin %>
            <%= link_to "Gérer mon évènement", event_participations_path(params[:id]), :class =>"btn btn-dark btn-block"  %> <br/>
          <% elsif @participation %>
            Vous êtes inscrit(e) à cet évènement ! 
          <% elsif @event.price == 0 %>
            <%= link_to "Participer gratuitement",  event_participations_path(event_id: params[:id]), :method =>'POST', :class =>"btn btn-dark btn-block"  %> <br/>
          <% else %>
            <%= link_to "Participer", new_event_charge_path(params[:id]), :class =>"btn btn-dark btn-block"  %> <br/>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
